<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <div class="container p-5">
        <div class="container part__2">
            <ul>
            {% if users %}
            {% for m in users %}
                <li><a href="" onclick="onSelectOtherUser('{{ m.id }}')">{{ m.username }}</a></li>
            {% endfor %}
            {% else %}No CHAT HERE {% endif %}
            </ul>
        </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script type="text/javascript">

	var chatSocket = null;
	var roomId = null;

	function closeWebSocket(){
		if(chatSocket != null){
			chatSocket.close()
			chatSocket = null
		}
	}

	function setupWebSocket(room_id){

		console.log("setupWebSocket: " + room_id)

		roomId = room_id

		onStart()

		function onStart(){
			{% if users %}
				onSelected("{{ users.id }}")
			{% endif %}
		}

		function onSelectOtherUser(userId){
			createOrReturnPrivateChat(userId)
		}

		// close previous socket if one is open
		closeWebSocket()

		// Correctly decide between ws:// and wss://
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		{% if debug_mode %}
			var ws_path = ws_scheme + '://' + window.location.host + "/chat/" + roomId + "/"; // development
		{% else %}
			var ws_path = ws_scheme + '://' + window.location.host + ":8001/chat/" + roomId + "/"; // production
		{% endif %}
		
		
		// console.log("Connecting to " + ws_path);
		chatSocket = new WebSocket(ws_path);

		// Handle incoming messages
		chatSocket.onmessage = function(message) {
			// Decode the JSON
			// console.log("Got chat websocket message " + message.data);
			console.log("Got websocket message.");
			var data = JSON.parse(message.data);

			// display the progress bar?
			displayChatroomLoadingSpinner(data.display_progress_bar)

			// Handle errors (ClientError)
			if (data.error) {
				console.error(data.error + ": " + data.message)
				return;
			}
			// Handle joining (Client perspective)
			if (data.join) {
				console.log("Joining room " + data.join);
			}
			// Handle leaving (client perspective)
			if (data.leave) {
				// do nothing
				console.log("Leaving room " + data.leave);
			}
		};

		chatSocket.addEventListener("open", function(e){
			console.log("ChatSocket OPEN")
			// join chat room
			if("{{request.user.is_authenticated}}"){
				chatSocket.send(JSON.stringify({
					"command": "join",
					"room": roomId
				}));
			}
		})

		chatSocket.onclose = function(e) {
			console.log('Chat socket closed.');
		};

		chatSocket.onOpen = function(e){
			console.log("ChatSocket onOpen", e)
		}

		chatSocket.onerror = function(e){
	        console.log('ChatSocket error', e)
	    }

	    if (chatSocket.readyState == WebSocket.OPEN) {
	    	console.log("ChatSocket OPEN")
	    } else if (chatSocket.readyState == WebSocket.CONNECTING){
	        console.log("ChatSocket connecting..")
	    }
	}


	function createOrReturnPrivateChat(id){
		payload = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"user2_id": id,
		}
		$.ajax({
			type: 'POST',
			dataType: "json",
			url: "{% url 'create_or_return_private_chat' %}", // production
			data: payload,
			timeout: 5000,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] == "Successfully got the chat."){
					setupWebSocket(data['chatroom_id'])
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				console.error("ERROR...", data)
				alert("Something went wrong.")
			},
		});
	}

</script>
  </body>
</html>